.filter {
  position: absolute;
  background: rgb(23 23 23 / 70%);
  width: 100vw;
  height: 100vh;
  z-index: 8;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background: rgb(23 23 23);
  border: 2px solid rgba(228, 254, 114, 0.04);
  border-radius: 24px;
  padding: 2rem;

  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  width: fit-content;
  z-index: 10;

  h1 {
    align-self: center;
    margin: 0;
  }

  input, button {
    border: none;
    outline: none;
    padding: 14px 16px;

    background: rgba(245, 173, 114, 0.06);
    border-radius: 50px;
    margin-top: 2rem;
    width: calc(100% - 2rem);

    font-family: "Fira Code", sans-serif;
    color: var(--text);
    text-indent: 12px;
  }

  button {
    width: 100%;
    cursor: pointer;
    background: rgba(12, 179, 127, 0.1);
    transition-duration: 180ms;

    &:hover {
      background: rgba(12, 179, 127, 0.3);
    }
  }
}
