section {
  width: 22vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;

  overflow: hidden;
  background: #FFFFFF;

  .search_bar {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 1rem;

    #burger {
      background: url('@/assets/images/icons/burger.svg') no-repeat;
      background-size: 2rem;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }

    #search {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      height: 2.4rem;
      border-radius: 22px;

      margin: 0 10px;
      background: #F5F5F5;

      .search_icon {
        background: url('@/assets/images/icons/search.svg') no-repeat;
        width: 1.5rem;
        height: 1.3rem;

        cursor: pointer;
        margin: 10px 5px 10px 10px;
      }

      input {
        all: unset;

        width: 14vw;
        margin-right: 15px;

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration { display: none; }

      }
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .user {
      display: flex;
      padding: 12px 0 12px 12px;
      width: 22vw;
      cursor: pointer;

      img {
        border-radius: 50%;
      }

      .infos {
        display: flex;
        flex-direction: column;

        width: 17vw;
        margin-left: 11px;

        h3, p {
          margin: 0;
        }

        p {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

    .selected {
      background: #F5F5F5;
    }

    #global {
      img {
        border: #5f5f5f 2px solid;
      }
    }
  }
}
