section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page {
  display: flex;
  justify-content: center;
  width: 100%;

  .messages {
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
    align-items: center;

    width: 73vw;
    height: calc(100vh - 3rem - 8vh - 4.3rem);

    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;

    .msg {
      background: #FFFFFF;
      border-radius: 12px;
      margin: 5px;
      padding: 4px 12px;
      font-size: 1.1rem;
      align-self: flex-start;

      height: auto;
      max-width: 60vw;
      /*text-overflow: ellipsis;
      overflow: hidden;*/
      word-wrap: break-word;

      p {
        margin: 0;
      }
    }

    .me {
      align-self: flex-end;
      background: #78E378;
    }

    .newUser, .leaveUser {
      background: rgba(61, 112, 184, 0.6);
      color: #FFFFFF;
      align-self: auto;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: $mobile) {
      height: calc(100vh - 3rem - 4vh - 4.3rem);
      width: 97vw;
    }
  }

  form {
    display: flex;
    align-items: center;

    position: absolute;
    bottom: 8vh;
    right: 3vw;

    background: #FFFFFF;
    border-radius: 12px;
    z-index: 5;

    input {
      all: unset;

      height: 3rem;
      width: 71vw;
      text-indent: 10px;

      @media (max-width: $mobile) {
        width: 81vw;
      }
    }

    .send {
      background: url("@/assets/images/icons/send.svg");
      background-size: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;

      cursor: pointer;
      margin: 5px 15px;
    }

    @media (max-width: $mobile) {
      bottom: 4vh;
      right: auto;
    }
  }
}
